/*****************
GENERAL
*****************/
* {
	border: 1px solid red;
	box-sizing: border-box;
}

body {
	text-align: center;
}

p {
	color: lightslategrey;
}

h2 {
	font-size: 3.3125em;
}

h3 {
	font-size: 1.25em;
}

div {
	background-color: lightblue;
}

a:link {
	color: orange;
	text-decoration: none;
}

a:visited {
	color: steelblue;
}

a:hover {
	color: tomato;
}

:focus {
	border: 1px solid black;
}

/*****************
HEADER
*****************/

.top-banner {
	background-color: orange;
	color: white;
	font-size: 1.8em;
}

span.title {
	font-size: 1.625rem;
}

.top-heading {
	font-size: 5.625rem;
}

/*****************
INTRO
*****************/
.primary-content {
	padding-top: 25px;
	padding-bottom: 95px;
}

/*****************
INTRO
*****************/

.intro {
	font-size: 1.25em;
	line-height: 1.6;
}

.intro span {
	font-weight: bold;
	font-style: italic;
}

/*****************
MAIN CONTENT
*****************/

#main-content {
	background-color: lightsteelblue;
	width: 75%;
}

#main-content p {
	font-weight: bold;
}

.restaurants {
	margin-top: 105px;
	border-top: 10px solid orange;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
	border: 2px dotted lightgrey;
}

.callout {
	font-size: 1.25em;
	border-bottom: 3px solid;
	padding: 0 9px 3px;
	margin-top: 20px;
	display: inline-block;
}

/*****************
FOOTER
*****************/

footer p {
	color: slategrey;
}